<!DOCTYPE html>
<html lang="en">

<head>
    <title>Functional Requirements</title>
    <link rel="stylesheet" href="../resources/css/styles.css" />
    <link rel="stylesheet" href="../resources/css/codeblock.css" />
</head>

<body>
    <div class="question"><b>1. What are Functional Requirements?</b></div>
    <div class="answer">
        <ul>
            <li>It defines the core functionality of a system - operations, inputs and outputs;</li>
        </ul>
    </div>

    <div class="question"><b>2. Things to consider when designing Functional Requirements?</b></div>
    <div class="answer">
        <ul>
            <li>Stakeholders</li>
            <li>Use cases or actions</li>
            <li>Inputs and outputs</li>
            <li>Workflow - What happens from end to end?</li>
            <li>Data handling - How data is stored, retrieved, updated, deleted?</li>
            <li>Edge cases OR Error handling - What happens if an error occurs?</li>
            <li>Permissions and Access Control - Who can do what?</li>
            <li>External dependencies - What external services are used by the system?</li>
            <li>Optional Features</li>
        </ul>
    </div>

    <div class="question"><b>3. What are Stakeholders?</b></div>
    <div class="answer">
        <ul>
            <li>It defines different type of users using a system;</li>
            <li><b>End Users</b> - People using the system(normal user, admin, operator etc);</li>
            <li><b>Developers</b> - People who will be developing the system;</li>
            <li><b>Operators</b> - People who keep the system running and monitoring it(like DBA, Devops, SRE etc);</li>
            <li><b>Security Team</b> - prevent spam/malicious links, data breaches, etc;</li>
            <li><b>External Entities</b> - External services/APIs that the system integrates with; People/systems outside your system;</li>
            <li>At high level, you can categorize stakeholders into 3 groups: Primary Users, Internal users, External entities;</li>
        </ul>
    </div>

    <div class="question"><b>4. Why Stakeholders matter?</b></div>
    <div class="answer">
        <ul>
            <li>Different stakeholders often have different needs;</li>
            <li>End Users - want speed & simplicity;</li>
            <li>Business - wants more features;</li>
            <li>Engineers - want maintainable system;</li>
            <li>Security - wants strict controls;</li>
            <li>Good system design = balancing all of these;</li>
        </ul>
    </div>
</body>

</html>