body {
    /* background-image: url("../imgs/blue.gif"); */
    font-family: monospace;
    padding: 20px;
}
a:visited, a:link {
    color:purple;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
}

.grid-wide-column {
    grid-column: span 2; /* takes up 2 columns */
}

.main-grid-item {
    border-width: 1px;
    border-style: dashed;
    padding: 10px 5px;
}

.main-grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
/*
.question {
    font-size: 1.17em;
}
.answer {
    margin-left: 30px;
}
*/
div.question {
    margin-top: 20px;
    margin-bottom: 10px;
    color: brown;
}
div.answer {
    margin-left: 10px;
}
div.answer ul li {
    font-size: 12px;
    margin-top: 10px;
}
.tab1 {
    display: inline-block;
    margin-left: 25px;
}
.tab2 {
    display: inline-block;
    margin-left: 50px;
}
.tab3 {
    display: inline-block;
    margin-left: 75px;
}
.tab4 {
    display: inline-block;
    margin-left: 100px;
}

div.command-table > table {
    border: 2px dotted grey;
    border-spacing: 40px 10px; /* horizontal=40px, vertical=10px */
}
  
div.command-table th,
div.command-table td {
    text-align: left;
    padding: 8px;
}

div.command-table th {
    font-weight: bold;
}

div.toc-container > ul > li {
    margin-top: 20px;
}

div.toc-container ul {
    list-style-type: disc;
    margin-top: 10px;
}

div.toc-container li {
    margin-bottom: 5px;
}